/* 
Color Scheme: #011627, #F71735, #41EAD4, #FDFFFC
*/
body {
  margin: 0;
  background-color: #FDFFFC;
  color: #011627;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
